body {
    background-color:#fff3db;
    font-family:sans-serif;
}
h1{
    text-align: center;
    background-color:#f02425;
    color:white;
    font-size: 4em;
}
h2 {
    text-align: center;
    color:#f02425 ;
    font-weight: bolder;
    font-size: 3em;
}
h3 {
    font-style: italic;
    font-weight: lighter;
    text-decoration-line:underline;
    font-size: 2em;
    text-align: center;
}
.red{
    color:#f02425;
    font-weight: bold;
}
.skin{
    color:#f02425
}
.lapate {
    padding: 5px;
    margin:none;
}
img{
display:block;
width: 100%;
margin-left: auto;
margin-right: auto;
}
.cuillères {
    color:rgb(75, 75, 75);
    font-style:italic;
    background-color: yellow;
}