#recette{
    background-color:#fff3db;
    font-family:sans-serif;
    width: 600px;
    margin: auto;
    padding: 10px;
}
h1{
    text-align: center;
    background-color:#f02425;
    color:white;
    font-size: 3em;
    margin:auto;
    width: 100%;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    color:#f02425 ;
    font-weight: bolder;
    font-size: 2em;
}
h3 {
    font-style: italic;
    font-weight: lighter;
    text-decoration-line:underline;
    font-size: 1.3em;
    text-align: center;
}
.red{
    color:#f02425;
    font-weight: bold;
}
.skin{
    color:#f02425
}
.lapate {
    padding: 5px;
    margin:none;
}
img{
display:block;
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}
.cuillères {
    color:rgb(75, 75, 75);
    font-style:italic;
    background-color: rgba(255, 166, 0, 0.493);
}